* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.gameContainer {
  margin: 0 auto;
}

.gameContainer h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #0099ff;
}

.gameContainer .gameBoard {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.gameContainer .gameBoard .paper {
  position: absolute;
}

.gameContainer .gameBoard .col {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 300px;
}

.gameContainer .gameBoard .col .box {
  width: 100px;
  height: 100px;
  border-spacing: 0;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer .gameBoard .col .box p {
  font-size: xxx-large;
  color: #0099ff;
}

.gameContainer .gameBoard .col .box:hover {
  transform: scale(0.9);
}

.gameContainer .gameBoard .col .box:nth-child(1), .gameContainer .gameBoard .col .box:nth-child(2) {
  border-right: 2px solid #0099ff;
}

.gameContainer .gameBoard .col:nth-child(1) .box, .gameContainer .gameBoard .col:nth-child(2) .box {
  border-bottom: 2px solid #0099ff;
}

.gameContainer .gameBoard .message {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 153, 255, 0.4);
}

.gameContainer .gameBoard .message p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.left {
  width: 100vw- 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left select {
  margin-top: 10px;
  color: #0099ff;
  font-size: 18px;
  background-color: white;
  border: 1px solid #0099ff;
  width: 200px;
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
  border: solid 1px #e0e7ee;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
}

.left select option {
  outline: none;
  box-shadow: none;
}

.left label {
  font-size: 20px;
  color: #0099ff;
  font-weight: bold;
}

.left .controller {
  margin-top: 20px;
}

.left .player-container {
  margin: 5px;
}

.left input[type='text'] {
  outline: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid #0099ff;
  padding-left: 18px;
  padding-right: 30px;
  text-align: left !important;
  color: #0099ff;
  outline: none;
  padding: 4px 8px;
  margin: 0 0 10px 4px;
  font-size: 18px;
}

.btn-primary {
  padding: 10px;
  background-color: #0099ff;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.btn-primary:hover {
  transform: scale(0.9);
}
